body{
    
    background-color: black;
}
.parent{
    border: 4px solid red;
}
.child{
    width: 50%;
    padding: 20px;
    border: 4px solid green;
    margin: auto;
}
#t1{
    text-align: center;
    color: blue;
    font-size: 1em;
}
#t2{
    text-align: center;
    color : green;
}
#t3{
    text-align: center;
    color : brown;
}
.boxi{
    float: left;
   
    display: block;
    width: 300px;
    margin-left: auto;
    margin-right: auto; 
}
#t4{
    text-align: left;
    color : purple;
    font-style: italic;
}
#coc{
    background-color: blue;
}
#boton {
    font-family: 'Minecraftia', monospace;
    font-size: 16px;
    background-color: #c0392b;
    color: white;
    border: 4px solid black;
    padding: 10px 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
